<nav class="navbar navbar-default nav-pills" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <!-- Brand -->
        <div class="navbar-brand">
          <img src="/img/dfm-logo-small.png" />
          <span class='company-name'>
            <div class='line-1'>DFM</div>
            <div class='line-2'>Web Studio</div>
          </span>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item 
        {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}
        "><a href="/">Home</a></li>
        <li class="nav-item
        {% if page.url == '/about/' %}active{% endif %}
        "><a href="/about">About</a></li>
        <li class="nav-item
        {% if page.url == '/projects/' %}active{% endif %}
        "><a href="/projects">Projects</a></li>
        <li class="nav-item
        {% if page.url == '/pricing/' %}active{% endif %}
        "><a href="/pricing">Pricing</a></li>        
        <li class="nav-item
        {% if page.url == '/contact/' %}active{% endif %}
        "><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>