#home {
	text-align: center;
	.row {
		vertical-align: middle;
	}
	.mission-statement {
		text-align: left;
	}
	@media (min-width: 1200px) {
		.mission-statement {
			margin-top: 50px;
		}
	}
	p {
		font-size: 26px;
		line-height: 28px;
	}
}