/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$dfm-blue: #0b7696;
$dfm-orange: #ff9235;

#pricing {
	.price {
		font-size: 22px;
		color: $dfm-orange;
	}
}